* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(186, 43, 63);
}
input::placeholder {
  color: rgb(85, 85, 85);
  font-weight: bold;
  font-family: cursive;
  text-align: center;
}
input[type="number"] {
  text-align: center;
  font-weight: bold;
  font-family: cursive;
}
/*HEADER*/
.header {
  width: 100%;
  height: min(10vh, 10vw);
  background-color: brown;
}
.header #Line {
  top: min(10vw, 10vh);
}
.Options {
  height: min(9.5vh, 9.5vw);
  width: min(9.5vh, 9.5vw);
}
.Options img {
  width: 100%;
  height: 100%;
}
.Options button {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.Options button:hover {
  background-color: darkred;
}
.Options button:active {
  position: absolute;
  top: 0.5vh;
  background-color: rgba(139, 0, 0, 0.4);
}
#Header_tomato {
  position: absolute;
  width: min(9vw, 9vh);
  height: min(9vw, 9vh);
  margin-left: 25vw;
  margin-top: min(1vh, 1vw);
}
#Report {
  position: absolute;
  right: 32vw;
}
#Account {
  position: absolute;
  right: 22vw;
}
#Setting {
  position: absolute;
  right: 12vw;
}
#Name_head {
  position: absolute;
  left: 35vw;
  @media screen and (max-width: 1000px) {
    height: min(12vw, 12vh);
    width: min(20vw, 20vh);
  }
  height: min(12vw, 12vh);
  width: min(30vw, 30vh);
}
/*cycle*/
.body {
  width: 100%;
  height: 100vh;
  .cycle_active {
    width: 25%;
    height: 10%;
    background-color: rgb(145, 34, 49);
    border-radius: 5px;
    border-style: none;
    font-weight: bold;
  }
  .cycle:active {
    margin-top: 1vh;
    width: 25%;
    height: 10%;
    background-color: rgba(145, 34, 49, 0.5);
    border-radius: 5px;
    border-style: none;
  }
  .cycle {
    width: 25%;
    height: 10%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    border-style: none;
  }
  .cycle_text {
    font-family: cursive;
    text-align: center;
    color: white;
    @media screen and (max-width: 1000px) {
      font-size: min(2.5vw, 2.5vh);
    }
    font-size: min(4vw, 4vh);
  }
}
#Count_box {
  border-radius: 10px;
  position: absolute;
  top: 20vh;
  left: 25vw;
  width: 50vw;
  height: 60vh;
  background-color: rgba(255, 179, 179, 0.2);
}
#Focus {
  position: absolute;
  top: 10%;
  left: 5%;
}
#Short_break {
  position: absolute;
  top: 10%;
  left: 35%;
}
#Long_break {
  position: absolute;
  top: 10%;
  left: 65%;
}
/*timer*/
#Timer {
  font-family: cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55vh;
  font-size: min(10vw, 10vh);
  font-weight: bold;
  color: wheat;
}
/*Start*/
#Start {
  position: absolute;
  top: 70%;
  left: 20%;
  height: 10vh;
  width: 30vw;
  border-radius: 10px;
  border: none;
}
#Start:active {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 72%;
  left: 20%;
  height: 10vh;
  width: 30vw;
  border-radius: 10px;
  border: none;
}
#Start_text {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 0;
  font-family: cursive;
  font-size: min(10vw, 10vh);
  color: rgb(145, 34, 49);
  font-weight: bold;
}

/*LOGIN PAGE------------------------------------*/
.box_input {
  margin-left: 15%;
  width: 70%;
  height: 8%;
  border-radius: 10px;
  border-color: grey;
  background-color: white;
  font-size: min(3vw, 3vh);
}
.line_or {
  position: absolute;
  margin-top: 2vh;
  width: 22vw;
  border-bottom: 2px solid gray;
}
#Login_box .input_text {
  display: flex;
  justify-content: center;
  font-family: cursive;
  font-size: min(4vw, 4vh);
}
#Login_text {
  display: flex;
  justify-content: center;
  font-size: min(8vw, 8vh);
  font-family: cursive;
}
#Login_box {
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  background-color: white;
  height: 80vh;
  width: 50vw;
}
#Google_logo {
  display: none;
  margin-left: 8vw;
  height: 50px;
  width: 70px;
}
#Google_login {
  margin-top: 3vh;
}
#Or_text {
  font-family: cursive;
  display: flex;
  justify-content: center;
  font-size: min(5vw, 5vh);
  color: rgb(89, 89, 89);
}
#line_1 {
  position: absolute;
  right: 25vw;
}
#Google_text {
  font-family: cursive;
  font-size: min(5vw, 5vh);
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 1000px) {
  #Google_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #Google_text {
    display: none;
  }
}
#User {
  margin-top: 2vh;
}
#Pass {
  margin-top: 2vh;
}
#Login_button {
  font-size: min(10vw, 10vh);
  height: 20vh;
  font-family: cursive;
  margin-top: 5vh;
}
#Login_button:active {
  margin-top: 6vh;
  background-color: rgba(186, 43, 63, 0.4);
}
#Back {
  position: absolute;
  top: 0px;
  background: none;
  border: none;
  height: min(10vw, 10vh);
}
/*Settings*/
.setting_box_input {
  box-sizing: border-box;
  width: 100%;
  height: 50%;
  border-radius: 6px;
  border-color: grey;
  background-color: rgb(239, 239, 239);
  font-size: min(3vw, 3vh);
}
#Setting_box {
  display: none;
  border-radius: 10px;
  position: absolute;
  background-color: white;
  width: 50vw;
  height: 80vh;
  top: 15vh;
  left: 25vw;
}
#Line {
  position: absolute;
  width: 50vw;
  margin-left: 25vw;
  border-bottom: 2px solid black;
}
#Setting_box #Line {
  margin-left: 0vw;
  margin-top: 1vh;
}
#Setting_text {
  display: flex;
  justify-content: center;
  font-family: cursive;
  font-size: min(7vh, 7vw);
}
#Clock {
  margin-left: 1vw;
  margin-top: 2vh;
  height: min(10vh, 10vw);
  width: min(10vh, 10vw);
}
#Setting_time_text {
  display: inline;
  font-size: min(5vh, 5vw);
  font-family: cursive;
}
#Setting_time {
  display: flex;
}
#Setting_time_input_text {
  display: flex;
  justify-content: center;
  font-size: min(5vh, 5vw);
  font-family: cursive;
}
#Setting_time_focus {
  width: 25%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}
#Setting_time_shortbreak {
  width: 25%;
  margin-left: 5%;
  display: inline-flex;
  flex-direction: column;
}
#Setting_time_longbreak {
  width: 25%;
  margin-left: 5%;
  display: inline-flex;
  flex-direction: column;
}
#Setting_time_interval {
  display: flex;
  margin-left: 2vw;
  margin-top: 3vh;
  font-size: min(4vh, 4vw);
  font-family: cursive;
}
#setting_box_input_interval {
  margin-left: 6vw;
  box-sizing: border-box;
  width: 6vw;
  height: 6vh;
  border-radius: 6px;
  border-color: grey;
  background-color: rgb(239, 239, 239);
  font-size: min(3vw, 3vh);
}
#Ringtone_input {
  display: none;
}
#Ringtone {
  width: 50vw;
  box-sizing: border-box;
  border-radius: 6px;
  border-color: grey;
}
#Ringtone:active {
  opacity: 0.5;
}
#Ringtone_input_label {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  justify-content: center;
  align-items: center;
}
#Ringtone_text {
  align-content: center;
  font-family: cursive;
}
#Ringtone_icon {
  width: min(8vh, 8vw);
  height: min(8vh, 8vw);
}
#Done {
  right: 0;
  top: 69vh;
  position: absolute;
  background: none;
  border: 0;
}
#Done:active {
  top: 70vh;
  opacity: 0.5;
}
#Done_icon {
  margin-right: 2vw;
  width: min(10vw, 10vh);
  height: min(10vw, 10vh);
}
#Error_nofi {
  font-family: cursive;
  font-size: min(3vw, 3vh);
}
